<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Welcome to App Academy</title>
  </head>
  <body>
    <p>Hello! <%= @user.username %> </p>
  </body>
</html>
